.strikethrough{
    text-decoration: line-through;
    color: white;
    text-decoration-color: rgb(66, 65, 65);
    background-color: green;
}
.rubik-glitch-regular {
    font-family: "Rubik Glitch", serif;
    font-weight: 400;
    font-style: normal;
}

.iceland-regular {
  font-family: "Iceland", serif;
  font-weight: 400;
  font-style: normal;
}
  
.syne-mono-regular {
    font-family: "Syne Mono", serif;
    font-weight: 400;
    font-style: normal;
  }
  