*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #4C5B5C;
}
button{
    height: 20vmin;
    margin: 5px;
    border-radius: 5px;
    border: none;
    font-size: 10vmin;
    box-shadow: 5px 5px 5px black;
    background-color: #DDDBCB;
    color: 3E1929;
}
main{
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    margin-top: 5vmin;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    /* border: 1px solid; */
    height: 70vh;
    width: 70vh;
}
#reset-button{
    background-color: black;
    color: wheat;
    height: 5vmin;
    width: 25vmin;
    font-size: 20px;
}
.reset-container{
    display: flex;
    justify-content: center;
}
#new-game-button{
    background-color: black;
    color: wheat;
    height: 5vmin;
    width: 15vmin;
    font-size: 20px;
    margin-top: 23px;
}
.new-game-container{
    display: flex;
    justify-content: center;
}
.msg-container{
    /* background-color: #F26419; */
    color: #EAEAEA;
    margin-top: 30px;
    height: 5vh;
    font-size: 5vmin;
    text-align: center;
}
.hide{
    display: none;
}